body {
  background-image: url("book1.jpeg");
}
#todo {
  width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 3px solid green;
  background-color: gold;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  color: blue;
  font-style: italic;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
h1 span {
  float: right;
  padding: 2px 6px;
  border: 1px solid #fff;
  color: white;
  background-color: #00ff00;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 4px;
}

li a {
  font-size: 18px;
  color: red;
  float: right;
  padding-right: 8px;
  text-decoration: none;
}
li:hover a {
  display: block;
}

input[type="text"] {
  border: 1px solid #666;
  padding: 2px;
  width: 240px;
  height: 20px;
  float: left;
  margin-right: 30px;
  font-style: italic;
  color: gray;
}

#addBook {
  width: 80px;
  height: 30px;
  color: white;
  background: green;
}

#done input[type="checkbox"] {
  font-size: 14px;
}
#done span {
  text-decoration: line-through;
  font-size: 12px;
  color: gray;
}

#books {
  margin-top: 20px;
  padding-top: 10px;
}
